<div class="w-full pb-4">
  <div class="text-gray-700 w-full pl-4">
     <p class="text-lg font-light leading-normal text-slate-800">
       <%= @reply.content %>
     </p>
     <p class="text-gray-500">
       <%= creator_name %> replied
     </p>
  </div>
</div>